body {
    font-family: 'Open Sans', sans-serif;
    /* background-color: black; */
  }
  header{
    background-color: black;
    border-bottom: 10px solid black;
    color: white;
    text-align: center;
  }
  
  button{
    background-color: black;
    border-color: white;
    border-radius: thin;
    border-style: dotted;
    color: white;
    height:30px;
  }

